main {
    display: flex;
    justify-content: center;
}

body {
    background-image: linear-gradient(to top right, #29194D, #E6B3B3) ;
    margin: 0;
    margin-top: 1%;
}

header {
/*Background properties*/
    background-image: url("https://images3.alphacoders.com/117/117235.jpg");
    background-repeat: no-repeat;
    background-color: darkred;
    background-position: center;
    background-size: cover;
/*Font properties*/
    color: purple;
    font-size: 2em;
    text-align: center;
/*Box properties*/
    width: 100%;
    height: auto;
    padding: 3% 0%;
    position: relative right;
    display: block;
}

nav {
/*Background properties*/   
/*Font properties*/
    font-size: 1.8vw;
/*Box properties*/
    width: 12.5%;
    height: 28%;
    margin: 2% 2%;
    position: fixed;
    left: 3%;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.nav-list > li {
    color: silver;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    list-style-type: none;
    padding: 15% 2% 8% 0%;
    margin: 5% 0%;
    text-align: center;
    background-image: url("https://toppng.com/public/uploads/thumbnail/chains-cb-edit-chain-11562865811gp2eporpan.png");
    background-size: cover;
}

article {
/*Background properties*/
    background-color: darkorchid;
/*Font properties*/
/*Box properties*/
    width: 45%;
    margin: 2% 2%;
    padding: 5%;
    position: relative;
    display: inline-block;
}

aside {
/*Background properties*/
    background-color: white;
/*Font properties*/
    font-size: 1em;
/*Box properties*/
    width: 18%;
    height: auto;
    margin: 2% 2%;
    padding: 2% 2%;
    right: 1%;
    position: fixed;
    box-sizing: border-box;
}

footer {
/*Background properties*/
    background-color: darkred;
/*Font properties*/
    text-align: center;
/*Box properties*/
    width: 100%;
    height: auto;
    margin: 0;
}